name: deploy_workers

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Zip output
        run: zip -r ./deploy/workers.zip .
        working-directory: ./workers

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: workers-zip
          path: ./deploy/workers.zip     